---
import ContactForm from '@components/ContactFormModal.astro';
---

<div class="container mx-auto px-4 pt-16">
  <h2 class="text-3xl md:text-4xl font-bold text-center text-gray-800 mb-12 relative">
    <span class="relative z-10 font-montserrat">Obtén una sesión estratégica GRATUITA para aumentar las ventas de tu e-commerce</span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="group bg-white p-8 rounded-xl shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1 relative overflow-hidden">
      <div class="absolute top-0 right-0 w-20 h-20 bg-blue-100 rounded-full transform translate-x-1/2 -translate-y-1/2 opacity-50"></div>
      <div class="relative z-10">
        <div class="text-5xl mb-6">
          <svg viewBox="0 0 1024 1024" fill="#000000" class="icon w-32" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke-width="0"></g>
            <g stroke-linecap="round" stroke-linejoin="round"></g>
            <g>
              <path d="M40.622 184.1c-4.414 0-8.076-3.576-8.076-7.996 0-4.422 3.498-7.998 7.918-7.998h0.156a7.994 7.994 0 0 1 7.998 7.998 7.99 7.99 0 0 1-7.996 7.996zM72.612 184.1c-4.414 0-8.076-3.576-8.076-7.996 0-4.422 3.498-7.998 7.918-7.998h0.156a7.994 7.994 0 0 1 7.998 7.998 7.99 7.99 0 0 1-7.996 7.996zM104.602 184.1c-4.414 0-8.076-3.576-8.076-7.996 0-4.422 3.498-7.998 7.918-7.998h0.156a7.994 7.994 0 0 1 7.998 7.998 7.99 7.99 0 0 1-7.996 7.996z" fill=""></path>
              <path d="M1015.848 200.096H8.156a7.994 7.994 0 0 1-7.998-7.998v-15.994c0-13.23 10.762-23.994 23.992-23.994h975.702c13.23 0 23.992 10.764 23.992 23.994v15.994a7.994 7.994 0 0 1-7.996 7.998zM16.152 184.1h991.696v-7.996a8.008 8.008 0 0 0-7.996-7.998H24.15a8.004 8.004 0 0 0-7.998 7.998v7.996z" fill=""></path>
              <path d="M1015.848 871.89H8.156a7.994 7.994 0 0 1-7.998-7.998V192.098a7.994 7.994 0 0 1 7.998-7.998h1007.692a7.994 7.994 0 0 1 7.996 7.998v671.794a7.994 7.994 0 0 1-7.996 7.998zM16.152 855.894h991.696V200.096H16.152v655.798z" fill=""></path>
              <path d="M512 807.91a7.994 7.994 0 0 1-7.998-7.998V256.078A7.994 7.994 0 0 1 512 248.08a7.992 7.992 0 0 1 7.996 7.998v543.834a7.992 7.992 0 0 1-7.996 7.998zM440.022 663.954H72.136a7.992 7.992 0 0 1-7.998-7.996 7.992 7.992 0 0 1 7.998-7.998h367.886a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.996z" fill=""></path>
              <path d="M72.136 663.954a7.992 7.992 0 0 1-7.998-7.996V288.068a7.994 7.994 0 0 1 7.998-7.998 7.994 7.994 0 0 1 7.998 7.998v367.888a7.996 7.996 0 0 1-7.998 7.998zM184.1 663.954H104.124a7.992 7.992 0 0 1-7.998-7.996V432.024a7.992 7.992 0 0 1 7.998-7.996H184.1a7.992 7.992 0 0 1 7.998 7.996v223.934a7.994 7.994 0 0 1-7.998 7.996z m-71.978-15.996h63.98V440.022h-63.98v207.936zM296.066 663.954h-79.976a7.992 7.992 0 0 1-7.998-7.996V336.054a7.994 7.994 0 0 1 7.998-7.998h79.976a7.994 7.994 0 0 1 7.998 7.998v319.902a7.994 7.994 0 0 1-7.998 7.998z m-71.978-15.996h63.98V344.05h-63.98v303.908zM408.032 663.954h-79.976a7.992 7.992 0 0 1-7.998-7.996v-111.966a7.994 7.994 0 0 1 7.998-7.998h79.976a7.994 7.994 0 0 1 7.998 7.998v111.966a7.994 7.994 0 0 1-7.998 7.996z m-71.978-15.996h63.98v-95.97h-63.98v95.97zM416.03 743.93H96.128c-4.42 0-7.998-3.578-7.998-7.998s3.578-7.998 7.998-7.998h319.902c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998zM352.05 775.918H160.108a7.992 7.992 0 0 1-7.998-7.996 7.994 7.994 0 0 1 7.998-7.998h191.942a7.994 7.994 0 0 1 7.998 7.998 7.994 7.994 0 0 1-7.998 7.996zM927.872 743.93h-319.9c-4.422 0-8-3.578-8-7.998s3.578-7.998 8-7.998h319.898c4.422 0 8 3.578 8 7.998s-3.578 7.998-7.998 7.998zM863.89 775.918h-191.938c-4.422 0-8-3.576-8-7.996a7.994 7.994 0 0 1 8-7.998h191.938c4.422 0 8 3.576 8 7.998a7.994 7.994 0 0 1-8 7.996zM767.922 663.954c-105.844 0-191.942-86.098-191.942-191.942 0-105.834 86.098-191.942 191.942-191.942s191.942 86.108 191.942 191.942c0 105.844-86.098 191.942-191.942 191.942z m0-367.888c-97.016 0-175.946 78.928-175.946 175.946s78.93 175.948 175.946 175.948 175.946-78.93 175.946-175.948-78.93-175.946-175.946-175.946z" fill=""></path>
              <path d="M767.922 551.988c-44.098 0-79.976-35.878-79.976-79.976 0-44.096 35.878-79.974 79.976-79.974s79.976 35.878 79.976 79.974c0 44.098-35.878 79.976-79.976 79.976z m0-143.956c-35.286 0-63.98 28.704-63.98 63.98 0 35.28 28.696 63.98 63.98 63.98s63.98-28.702 63.98-63.98c0-35.278-28.694-63.98-63.98-63.98z" fill=""></path>
              <path d="M767.922 408.196a7.99 7.99 0 0 1-7.996-7.998v-112.128c0-4.42 3.574-7.998 7.996-7.998s7.996 3.578 7.996 7.998v112.128a7.99 7.99 0 0 1-7.996 7.998zM897.976 610.064a7.976 7.976 0 0 1-5.656-2.344l-79.164-79.162a8 8 0 0 1 11.312-11.31l79.16 79.164a7.994 7.994 0 0 1 0 11.308 7.956 7.956 0 0 1-5.652 2.344z" fill=""></path>
              <path d="M768.14 344.058a8 8 0 0 1-5.656-13.652l42.894-42.892a7.994 7.994 0 0 1 11.308 0 7.994 7.994 0 0 1 0 11.308l-42.89 42.894a7.97 7.97 0 0 1-5.656 2.342zM768.14 389.294a8 8 0 0 1-5.656-13.652l77.226-77.226a7.996 7.996 0 1 1 11.308 11.31l-77.222 77.226a7.97 7.97 0 0 1-5.656 2.342zM790.774 411.906a7.994 7.994 0 0 1-5.652-13.652l82.536-82.53a7.994 7.994 0 0 1 11.308 0 7.994 7.994 0 0 1 0 11.308l-82.536 82.53a7.976 7.976 0 0 1-5.656 2.344zM818.812 429.126a7.998 7.998 0 0 1-5.656-13.652l79.18-79.178a7.994 7.994 0 0 1 11.308 0 7.994 7.994 0 0 1 0 11.308l-79.176 79.178a7.964 7.964 0 0 1-5.656 2.344zM836.074 457.096a7.994 7.994 0 0 1-5.656-13.652l82.726-82.724a7.998 7.998 0 0 1 11.308 11.308l-82.726 82.724a7.97 7.97 0 0 1-5.652 2.344zM836.902 501.52a7.994 7.994 0 0 1-5.656-13.652l98.218-98.228a7.994 7.994 0 0 1 11.308 0 7.994 7.994 0 0 1 0 11.308l-98.218 98.228a7.97 7.97 0 0 1-5.652 2.344zM836.074 547.582a7.996 7.996 0 0 1-5.656-13.652l110.668-110.668a8 8 0 0 1 11.312 11.308l-110.672 110.67a7.978 7.978 0 0 1-5.652 2.342zM858.41 570.498a7.998 7.998 0 0 1-5.656-13.652l93.426-93.44a7.994 7.994 0 0 1 11.308 0 7.994 7.994 0 0 1 0 11.308l-93.426 93.44a7.958 7.958 0 0 1-5.652 2.344zM881.028 593.116a7.994 7.994 0 0 1-5.652-13.65l64.168-64.184a7.998 7.998 0 0 1 11.308 11.308l-64.168 64.184a7.974 7.974 0 0 1-5.656 2.342z" fill=""></path>
              <path d="M184.1 472.012H104.124a7.994 7.994 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996H184.1a7.992 7.992 0 0 1 7.998 7.996 7.994 7.994 0 0 1-7.998 7.998z" fill=""></path>
              <path d="M184.1 583.978H104.124c-4.42 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998H184.1c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998z" fill=""></path>
              <path d="M296.066 408.196h-79.976a7.994 7.994 0 0 1-7.998-7.998 7.992 7.992 0 0 1 7.998-7.996h79.976a7.992 7.992 0 0 1 7.998 7.996 7.992 7.992 0 0 1-7.998 7.998z" fill=""></path>
              <path d="M296.066 519.998h-79.976c-4.42 0-7.998-3.578-7.998-7.998s3.578-7.998 7.998-7.998h79.976c4.42 0 7.998 3.578 7.998 7.998s-3.576 7.998-7.998 7.998z" fill=""></path>
              <path d="M408.032 583.978h-79.976c-4.42 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998h79.976c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998z" fill=""></path>
              <path d="M408.032 615.968h-79.976c-4.42 0-7.998-3.578-7.998-7.998s3.576-7.998 7.998-7.998h79.976c4.42 0 7.998 3.578 7.998 7.998s-3.578 7.998-7.998 7.998z" fill=""></path>
            </g>
          </svg>
        </div>
        <h2 class="text-2xl font-semibold text-gray-800 mb-3 font-montserrat">Análisis</h2>
        <p class="text-gray-600 mb-4 font-roboto">Trabajamos contigo analizando la situación de tu negocio y tus objetivos específicos.</p>
      </div>
    </div>

    <div class="group bg-white p-8 rounded-xl shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1 relative overflow-hidden">
      <div class="absolute top-0 right-0 w-20 h-20 bg-green-100 rounded-full transform translate-x-1/2 -translate-y-1/2 opacity-50"></div>
      <div class="relative z-10">
        <div class="text-5xl mb-6">
          <svg fill="#000000" version="1.1" class=" w-32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496 496" xml:space="preserve">
            <g stroke-width="0"></g>
            <g stroke-linecap="round" stroke-linejoin="round"></g>
            <g> 
              <g>
                <g> 
                  <g> 
                    <polygon points="372.12,121.144 328,94.672 283.88,121.144 292.12,134.856 320,118.128 320,240 240,240 240,320 160,320 160,400 80,400 80,480 0,480 0,496 96,496 96,416 176,416 176,336 256,336 256,256 336,256 336,118.128 363.88,134.856 "></polygon>
                    <path d="M460.864,87.512C480.608,85.072,496,68.392,496,48V0h-32h-8h-64h-8h-32v48c0,20.392,15.392,37.072,35.136,39.512 c5.064,11.992,15.824,21.024,28.864,23.68V160h-64v16h144v-16h-64v-48.808C445.048,108.528,455.8,99.504,460.864,87.512z M464,16 h16v32c0,10.416-6.712,19.216-16,22.528V16z M384,70.528c-9.296-3.312-16-12.112-16-22.528V16h16V70.528z M424,96 c-13.232,0-24-10.768-24-24V16h48v56C448,85.232,437.232,96,424,96z"></path>
                    <path d="M112,496h64v-64h-64V496z M128,448h32v32h-32V448z"></path>
                    <path d="M192,496h64V352h-64V496z M208,368h32v112h-32V368z"></path>
                    <path d="M272,496h64V272h-64V496z M288,288h32v192h-32V288z"></path>
                    <path d="M352,496h64V192h-64V496z M368,208h32v272h-32V208z"></path>
                    <path d="M432,496h64V192h-64V496z M448,208h32v272h-32V208z"></path>
                    <path d="M32,264c17.648,0,32-14.352,32-32c0-10.728-5.352-20.184-13.472-25.992l39.28-65.472C94.104,142.68,98.88,144,104,144 c6.408,0,12.36-1.936,17.368-5.192l42.464,30.328C161.464,173.6,160,178.608,160,184c0,17.648,14.352,32,32,32s32-14.352,32-32 c0-9.48-4.216-17.912-10.784-23.776l51.76-97.056C267.248,63.68,269.584,64,272,64c17.648,0,32-14.352,32-32S289.648,0,272,0 s-32,14.352-32,32c0,9.48,4.216,17.912,10.784,23.776l-51.76,97.056C196.752,152.32,194.416,152,192,152 c-6.408,0-12.36,1.936-17.368,5.192l-42.464-30.328C134.536,122.4,136,117.392,136,112c0-17.648-14.352-32-32-32 s-32,14.352-32,32c0,6.64,2.04,12.808,5.512,17.928l-42.24,70.4C34.184,200.216,33.12,200,32,200c-17.648,0-32,14.352-32,32 S14.352,264,32,264z M272,16c8.816,0,16,7.184,16,16s-7.184,16-16,16c-8.824,0-16-7.184-16-16S263.176,16,272,16z M192,168 c8.816,0,16,7.176,16,16c0,8.824-7.184,16-16,16c-8.824,0-16-7.176-16-16C176,175.176,183.176,168,192,168z M104,96 c8.816,0,16,7.184,16,16s-7.184,16-16,16c-8.824,0-16-7.176-16-16C88,103.176,95.176,96,104,96z M32,216c8.816,0,16,7.176,16,16 c0,8.824-7.184,16-16,16c-8.824,0-16-7.176-16-16C16,223.176,23.176,216,32,216z"></path> 
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h2 class="text-2xl font-semibold text-gray-800 mb-3 font-montserrat">Estrategia</h2>
        <p class="text-gray-600 mb-4 font-roboto">Establecemos la estrategia a seguir paso a paso, sin complicaciones.</p>
      </div>
    </div>

    <div class="group bg-white p-8 rounded-xl shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1 relative overflow-hidden">
      <div class="absolute top-0 right-0 w-20 h-20 bg-yellow-100 rounded-full transform translate-x-1/2 -translate-y-1/2 opacity-50"></div>
      <div class="relative z-10">
        <div class="text-5xl mb-6">
          <svg fill="#000000" version="1.1" class="w-32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496 496" xml:space="preserve">
            <g stroke-width="0"></g>
            <g stroke-linecap="round" stroke-linejoin="round"></g>
            <g>
              <g>
                <g>
                  <g>
                    <path d="M388.688,0l-27.464,27.464C327.248,9.952,288.776,0,248,0h-8v24.2C120.184,28.44,24,127.168,24,248 c0,57.152,21.304,111.008,60.088,152.6l-17.104,17.104l5.656,5.656c14.464,14.464,30.4,26.904,47.472,37.216L100.688,480H0v16 h107.312l27.344-27.344C169.296,486.496,207.904,496,248,496c66.248,0,128.52-25.8,175.36-72.64l5.656-5.656L411.912,400.6 c36.968-39.64,58-90.432,59.896-144.6H496v-8c0-90.04-48.24-169.008-120.224-212.464L395.312,16H496V0H388.688z M248,136 c61.76,0,112,50.24,112,112v8h15.608c-1.752,28.512-12.8,55.184-31.72,76.576l-11.04-11.04l-5.656,5.656 C306.048,348.352,277.92,360,248,360c-29.92,0-58.048-11.648-79.192-32.808l-5.656-5.656l-11.04,11.04 C131.424,309.184,120,279.504,120,248c0-67.88,53.152-123.432,120-127.592V136H248z M40,248c0-112.016,89-203.576,200-207.8v64.2 c-75.672,4.192-136,66.904-136,143.6c0,35.776,13.096,69.464,36.8,95.888L95.408,389.28C59.632,350.72,40,300.88,40,248z M248,480c-35.736,0-70.208-8.072-101.416-23.272l35.072-35.072l-11.312-11.312l-38.536,38.536 c-15.016-8.72-29.152-19.152-42.104-31.272l73.616-73.616C186.712,364.688,216.48,376,248,376 c31.512,0,61.288-11.312,84.68-32.008l73.616,73.616C363.192,457.904,307.296,480,248,480z M400.6,389.28l-45.4-45.392 c21.92-24.44,34.616-55.104,36.408-87.888H455.8C453.928,305.888,434.552,352.672,400.6,389.28z M479.864,240H375.752 C371.776,175.784,320.216,124.224,256,120.248V16.136c33.368,1.136,64.944,9.392,93.32,23.232l-34.976,34.976l11.312,11.312 l38.416-38.416C431.144,86.176,477.056,157.696,479.864,240z"></path>
                    <rect x="480" y="32" width="16" height="16"></rect>
                    <rect x="416" y="32" width="48" height="16"></rect>
                    <rect y="448" width="48" height="16"></rect>
                    <rect x="64" y="448" width="16" height="16"></rect>
                    <path d="M190.112,176H152v16h25.888l24,88H224h72h31.064l10-80H196.656L190.112,176z M318.936,216l-6,48h-98.824l-13.096-48 H318.936z"></path>
                    <path d="M200,304c0,13.232,10.768,24,24,24s24-10.768,24-24s-10.768-24-24-24S200,290.768,200,304z M224,296c4.416,0,8,3.584,8,8 c0,4.416-3.584,8-8,8s-8-3.584-8-8C216,299.584,219.584,296,224,296z"></path>
                    <path d="M272,304c0,13.232,10.768,24,24,24s24-10.768,24-24s-10.768-24-24-24S272,290.768,272,304z M296,296c4.416,0,8,3.584,8,8 c0,4.416-3.584,8-8,8c-4.416,0-8-3.584-8-8C288,299.584,291.584,296,296,296z"></path>
                    <rect x="448" y="208" width="16" height="16"></rect>
                    <rect x="416" y="208" width="16" height="16"></rect>
                    <rect x="384" y="208" width="16" height="16"></rect>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h2 class="text-2xl font-semibold text-gray-800 mb-3 font-montserrat">Plan de acción</h2>
        <p class="text-gray-600 mb-4 font-roboto">Ejecutamos las acciones de marketing y publicidad para alcanzar tus objetivos.</p>
      </div>
    </div>

    <div class="group bg-white p-8 rounded-xl shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out transform hover:-translate-y-1 relative overflow-hidden">
      <div class="absolute top-0 right-0 w-20 h-20 bg-red-100 rounded-full transform translate-x-1/2 -translate-y-1/2 opacity-50"></div>
      <div class="relative z-10">
        <div class="text-5xl mb-6">
          <svg fill="#000000" version="1.1" class="w-32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 496 496" xml:space="preserve">
            <g stroke-width="0"></g>
            <g stroke-linecap="round" stroke-linejoin="round"></g>
            <g>
              <g>
                <g>
                  <g>
                    <path d="M176,168c0,39.704,32.296,72,72,72c39.704,0,72-32.296,72-72s-32.296-72-72-72C208.296,96,176,128.296,176,168z M304,168 c0,30.872-25.128,56-56,56s-56-25.128-56-56s25.128-56,56-56S304,137.128,304,168z"></path>
                    <path d="M449.392,425.024c-8.68-1.872-17.16-1.144-25.328,1.832c-10.76-13.368-25.832-22.28-42.488-25.472l26.952-43.12 c4.888-7.824,7.472-16.856,7.472-26.096c0-15.304-6.928-29.48-19.008-38.864L344,252.088v-85.896 c0-3.536-0.176-7.048-0.432-10.552l16.992,6.8c-0.32,1.816-0.56,3.656-0.56,5.56c0,17.648,14.352,32,32,32s32-14.352,32-32 c0-9.296-4.048-17.6-10.392-23.448l47.176-80.872C461.856,63.784,462.896,64,464,64c17.648,0,32-14.352,32-32S481.648,0,464,0 s-32,14.352-32,32c0,10.76,5.376,20.248,13.536,26.048l-46.04,78.928C397.08,136.392,394.592,136,392,136 c-10,0-18.824,4.704-24.696,11.904L341.048,137.4c-7.192-35.456-27.392-67.536-57.12-89.16L256,27.928V0h-16v27.928 L212.072,48.24c-14.824,10.784-27.256,24.192-36.92,39.304l-15.52-3.88C159.768,82.448,160,81.256,160,80 c0-17.648-14.352-32-32-32S96,62.352,96,80c0,6.096,1.8,11.744,4.776,16.592l-53.064,59.696C43.048,153.64,37.736,152,32,152 c-17.648,0-32,14.352-32,32s14.352,32,32,32s32-14.352,32-32c0-6.096-1.808-11.744-4.776-16.592l53.064-59.696 C116.952,110.36,122.264,112,128,112c10.648,0,20.032-5.28,25.848-13.296L167,101.992c-9.696,19.76-15,41.688-15,64.2v85.896 l-52.992,41.216C86.928,302.696,80,316.864,80,332.168c0,9.232,2.584,18.264,7.48,26.104l26.912,43.056 c-13.048,2.544-25.248,8.68-35.128,17.776c-8.824-3.704-18.816-4.064-27.768-1.072C42.864,397.592,22.864,384,0,384v16 c17.008,0,31.688,10.592,37.392,26.2C28.936,433.728,24,444.464,24,456h16c0-8.024,3.992-15.384,10.624-19.864l0.424-0.28 c5.04-3.256,11.08-4.392,16.864-3.416C60.224,444.128,56,457.824,56,472h16c0-13.392,4.8-26.248,13.488-36.392l1.224-1.336 C97.328,422.664,112.384,416,128,416c17.392,0,33.336,7.864,43.904,21.336C159.488,447.88,152,463.44,152,480h16 c0-13.856,7.304-26.768,19.08-34.032C193.4,442.064,200.64,440,208,440h8v-64h64v64h8c7.368,0,14.608,2.064,20.936,5.976 C320.696,453.248,328,466.152,328,480h16c0-16.552-7.488-32.12-19.904-42.664C334.664,423.864,350.608,416,368,416 c18.84,0,36.312,9.416,46.744,25.192l0.456,0.696c5.744,8.984,8.8,19.376,8.8,30.112h16c0-10.84-2.48-21.392-7.104-31.04 c5.544-1.392,11.256-1.24,17.632,0.984l2.128,0.744C464.272,447.72,472,459.24,472,472h16c0-16.88-9.04-32.328-23.128-40.928 C472.368,421.664,483.664,416,496,416v-16C477.024,400,459.704,409.44,449.392,425.024z M464,16c8.816,0,16,7.184,16,16 s-7.184,16-16,16c-8.824,0-16-7.184-16-16S455.176,16,464,16z M392,152c8.816,0,16,7.176,16,16c0,8.824-7.184,16-16,16 c-8.824,0-16-7.176-16-16C376,159.176,383.176,152,392,152z M32,200c-8.824,0-16-7.176-16-16c0-8.824,7.176-16,16-16 c8.816,0,16,7.176,16,16C48,192.824,40.816,200,32,200z M128,96c-8.824,0-16-7.184-16-16s7.176-16,16-16c8.816,0,16,7.184,16,16 S136.816,96,128,96z M152,336v8v56h-19.56l-31.384-50.2C97.752,344.504,96,338.408,96,332.168c0-10.336,4.68-19.896,12.832-26.24 L152,272.36V336z M200,424.576c-4.992,0.728-9.864,2.136-14.504,4.176c-4.928-6.6-10.864-12.168-17.496-16.624V344h16v32h16 V424.576z M200,360v-16h96v16H200z M328,412.136c-6.632,4.456-12.568,10.024-17.504,16.624 c-4.632-2.048-9.504-3.456-14.496-4.176V376h16v-32h16V412.136z M328,328H168V166.192c0-41.392,19.992-80.656,53.48-105.008 L248,41.888l26.52,19.288C308.008,85.536,328,124.8,328,166.192V328z M363.56,400H344v-56v-8v-63.64l43.16,33.568 c8.16,6.344,12.84,15.904,12.84,26.24c0,6.232-1.752,12.328-5.048,17.616L363.56,400z"></path>
                    <rect x="240" y="424" width="16" height="72"></rect>
                    <rect x="240" y="392" width="16" height="16"></rect>
                    <path d="M240,120v16h-4c-11.032,0-20,8.968-20,20s8.968,20,20,20h24c2.2,0,4,1.8,4,4s-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4v-4h-16v4 c0,11.032,8.968,20,20,20h4v16h16v-16h4c11.032,0,20-8.968,20-20s-8.968-20-20-20h-24c-2.2,0-4-1.8-4-4s1.8-4,4-4h24 c2.2,0,4,1.8,4,4v4h16v-4c0-11.032-8.968-20-20-20h-4v-16H240z"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h2 class="text-2xl font-semibold text-gray-800 mb-3 font-montserrat">Ejecución</h2>
        <p class="text-gray-600 mb-4 font-roboto">Evaluamos y medimos los resultados para mejorarlos de forma constante.</p>
      </div>
    </div>
  </div>
  <div class="text-center mt-20">
    <div>
      <ContactForm 
        buttonText="DESCUBRE CÓMO TRABAJAMOS" 
        buttonClass="bg-[#96BF48] text-white px-6 py-3 rounded hover:bg-[#96BF48]/80 font-roboto"
      />
    </div>
    <div class="flex justify-center items-center">
      <a href="https://www.sortlist.es/agency/highdatanet-agencia-de-marketing-digital" target="_blank"> <img style="width: 512px; height: 128px;" alt="Click here to view the agency's profile on Sortlist" src="https://www.sortlist.com/widget/highdatanet-agencia-de-marketing-digital/review?ref=review-widget-1"/> </a>
    </div>
  </div>
</div>