---
import faqsData from '../data/faqs.json';

interface Faq {
  id: number;
  question: string;
  answer: string;
}

const faqs: Faq[] = faqsData.faqs;

import ContactForm from '@components/ContactFormModal.astro';
---

<section class="container mx-auto px-4 py-24">
  <h2 class="text-3xl md:text-4xl font-bold text-center mb-4 font-montserrat">Preguntas frecuentes</h2>
  <p class="text-gray-600 text-center mb-16 max-w-2xl mx-auto font-roboto">
    Resolvemos tus dudas sobre el desarrollo de tu tienda en Shopify
  </p>
  
  <div class="max-w-3xl mx-auto">
    {
      faqs.map((faq) => (
        <details 
          class="group border-b border-gray-200"
        >
          <summary class="flex justify-between items-center py-6 cursor-pointer">
            <span class="text-lg font-medium text-gray-900 pr-6 font-roboto">{faq.question}</span>
            <span class="flex-shrink-0 ml-1.5 p-1.5 text-gray-900 hover:bg-gray-100 rounded-full">
              <svg
                class="w-5 h-5 transition-transform duration-300 group-open:rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                />
              </svg>
            </span>
          </summary>
          <div class="pb-6 text-gray-600 leading-relaxed">
            {faq.answer}
          </div>
        </details>
      ))
    }
  </div>
  <div class="block text-center mt-12">
    <ContactForm 
        buttonText="RESERVA TU SESIÓN GRATUITA" 
        buttonClass="bg-[#96BF48] text-white px-6 py-3 rounded hover:bg-[#96BF48]/80 font-roboto"
        />
  </div>
</section>

<style>
  details > summary::-webkit-details-marker {
    display: none;
  }

  details summary {
    list-style: none;
  }

  details[open] summary {
    margin-bottom: 10px;
  }

  details > div {
    animation: fadeIn 0.2s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>