---
import { Image } from 'astro:assets';
import shopifyPlus from '@assets/home/diseno-y-desarrollo-de-ecommerce-en-shopify.webp';
import ContactForm from '@components/ContactFormModal.astro';
---

<section class="container mx-auto px-4 py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-center justify-items-center text-center">
        {/* Primera estadística */}
        <div class="flex flex-col items-center">
            <h2 class="text-6xl font-bold mb-5">+100</h2>
            <h3 class="text-xl font-semibold">tiendas desarrolladas</h3>
            <p class="text-sm text-gray-600 max-w-[250px]">
                en toda España
            </p>
        </div>

        <div class="flex flex-col items-center">
            <Image 
                src={shopifyPlus}
                alt="Shopify Plus"
                class="h-12 w-auto mb-4"
            />
            <h3 class="text-xl font-semibold">Expertos</h3>
            <p class="text-sm text-gray-600 max-w-[250px]">
                siempre a tu lado
            </p>
        </div>

        <div class="flex flex-col items-center">
            <h2 class="text-6xl font-bold mb-5">+20%</h2>
            <h3 class="text-xl font-semibold">Tasa de conversión</h3>
            <p class="text-sm text-gray-600 max-w-[250px]">
                en nuestra webs lanzadas
            </p>
        </div>
</section>

<div class="block text-center mt-5">
    <ContactForm 
        buttonText="RESERVA TU SESIÓN ESTRATEGICA GRATUITA" 
        buttonClass="bg-[#96BF48] text-white px-6 py-3 rounded hover:bg-[#96BF48]/80"
    />
</div>