---
import Footer from '@components/Footer.astro';
import '@styles/global.css';
import WhatsAppButton from '@components/WhatsAppButton.astro';

export interface LayoutProps {
  title: string;
  description: string;
  navigation: string[];
}

const { title, description } = Astro.props as LayoutProps;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppButton 
      number="34633464544"
      position="bottom-right"
      pulseAnimation={true}
      showOnMobile={true}
    />
  </body>
</html>
