---
import Footer from '@components/Footer.astro';
import '@styles/global.css';
import WhatsAppButton from '@components/WhatsAppButton.astro';

export interface LayoutProps {
  title: string;
  description: string;
  navigation: string[];
}

const { title, description } = Astro.props as LayoutProps;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppButton 
      number="34612345678"
      position="bottom-right"
      pulseAnimation={true}
      showOnMobile={true}
    />
  </body>
</html>
