---
import Footer from '@components/Footer.astro';
import SEO from '@components/SEO.astro';  // Importa el componente SEO
import '@styles/global.css';
import WhatsAppButton from '@components/WhatsAppButton.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
  keywords?: string;
  author?: string;
  themeColor?: string;
}

const props = Astro.props;
---

<html lang="es">
  <head>
    <SEO {...props} />  <!-- Usa el componente SEO pasándole todas las props -->
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppButton 
      number="34633464544"
      position="bottom-right"
      pulseAnimation={true}
      showOnMobile={true}
    />
  </body>
</html>